body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    color: #333;
    background-color: #c8c8c8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
    max-width: 40%;
    margin: 20px auto;
}

.bids {
    color: green;
}

.asks {
    color: red;
}

.table {
    margin-left:auto;
    margin-right:auto;
}

.tables_container {
    display: flex;
}

.table_container {
    flex: 50%;
}
